 .btn{
      background: #4c6ca0;
      color: White;
      border: none;
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 6px;
      cursor: pointer;
    }
.btn:hover{
  color: #f4f4f4;
  background: #9ed684;
}
