 .btn {
            display: inline-block;
            border: 10px;
            border-radius: 10px;
            background: cornflowerblue;
            color: navy;
            position: fixed;
            margin-top: 23%;
            margin-left: 45%;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            cursor: pointer;
        }

        .btn:hover {
            background: darkorchid;
            color: #fff;
        }
