body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #ff1b68;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', 'sans-serif';
}

h1 {
    font-family: sans-serif;
}

/* CSS which stands for Cascading Style Sheets, Simply mean that multiple Styles can be applied to it at Once,
Now, the matter is that it has Order of Precedence for Elements or Specificity --> Which decides is Same Styles are Applied i.e Same Properties are being used by Multiple type of Selectors then which will be in Highest Priority ... The Specificity is listed below

Inline Selectors 
    >
ID Selectors
    >
.class, ::pseudo-class-selectors & [attribute] selectors
    >
#Tag & ::pseudo-element selectors 
 */




/* Understanding Combinators */

/*

There are 4 types of Combinators 
1) Adjacent Sibling Combinators --> It Suggests that the Element Next to the Previous has to be a direct sibling of the Previous Element div + p { }

2) General Sibling Combinators --> It Suggets that the Element Next to the Previous has to be a Sibling of the Previous Element div ~ p { }

3) Child Combinators --> This Suggests that the Element Next to the Previous element has to be a Direct Child of the Previous Selector div > p { }

4) Descendent Combinators --> This Says that the Element next to the Previous Element has to be a Descendednt or Simply the Previous Element has to be a Parent of the Next Element Directly or Indirectly div p { }

 */