.btn{
    display: inline-block;
    border: 8px;
    color:white;
    background-color: rgb(73, 121, 226);
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-top: 23%;
    margin-left: 45%;
    cursor: pointer;


}

.btn:hover{
    background-color: blueviolet;
}
